body{
    font-family: 'Roboto', sans-serif;
}
.color{
    background-color: antiquewhite;
}
.woman-size{
    height: 350px;
    width: 280px;
    margin-left:33px;
}
.man-size{
    height: 350px;
    width: 280px;
    margin-left:33px;
}
.card-footer{
    border: 0;
    background-color: white;
}
.butn{
    margin-left: 150px;
}
.bg{
    background-color:white;
    border-radius: 5px;
}
.foot{
    text-align: center;
}
.icon{
    width: 90px;
    margin-top: 25px;
}