body{
    font-family: 'Roboto', sans-serif;
}
.color{
    background-color: antiquewhite;
}
.woman-size{
    height: 350px;
    width: 280px;
    margin-left:33px;
}
.man-size{
    height: 350px;
    width: 280px;
    margin-left:33px;
}
.card-footer{
    border: 0;
    background-color: white;
}
.btn{
    margin-left: 150px;
}